.mat-card{
    border: 2px solid #4a1d00;
}
mat-card-actions{
    text-align: right;
}
.mat-card-image:first-child{
    width: 100%;
    height: auto;
    margin: auto;
}
.card-coffee h1{
    color: #4a1d00;
    font-size: 1.6rem;
}
.btn-card::before{
    content: "";
    background-image: url('/assets/Image/basket.png');
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 33px;
    left: 7px;
    top: 1px;
}
.btn-card {
    padding-left: 50px;
    color: #4a1d00;
    font-weight: bold;
}
