.mat-card{
    border: 2px solid #4a1d00;
}
mat-card-actions{
    text-align: right;
}
.mat-card-image:first-child{
    width: 100%;
    height: auto;
    margin: auto;
}
.card-coffee h1{
    color: #4a1d00;
    font-size: 1.6rem;
}
