<button mat-button routerLink="/" class="btn-back">Назад</button>
<br/>
<label>
  <mat-card>
    Количество порций кофе:
    <input matInput type="number" value="1" min="0" max="15" step="1"
           [(ngModel)]="countCoffee"
           (input)="countChange()">
  </mat-card>
</label>

<hr>
<div *ngFor="let item of currentCoffee; let i = index">
  <mat-card>
    <mat-grid-list cols="4" rowHeight="8:1">
      <mat-grid-tile>{{item.title}}</mat-grid-tile>
      <mat-grid-tile class="tile-preview">
        <div class="preview">
          <img src='{{item.img}}' alt="img"/>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>{{item.price}} грн.</mat-grid-tile>
      <mat-grid-tile>
        <label>
          Кол-во сахара: {{arrSugar[i]}}
          <input type="range" min="0" max="5" value="0"
                  class="range-sugar" (input)="addSugar($event.target.value, i)">
        </label>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
<hr>
<button mat-button routerLink="/" (click)="addCard()"
        class="btn-addOrder">Добавить в коризну</button>

