/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
  background-image: url('assets/Image/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
button.mat-button{
  border: 1px solid #4a1d00;
  background-color: #ffffff;
}




